@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
.main{
    align-items: center; 
    text-align: center;
}
.head{
    width: 600px;
    margin: 80px auto;
    padding: 20px;
    font-size: 40px;
    border-radius: 10px;
    border-width: 6px;
    border-style: double;
}
.boxoffices{
    align-items: center; 
    text-align: center;
    
}
.boxoffice{
    
    width: 260px;
    align-items: center; 
    text-align: center;



}