@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

.boxoffices{
    align-items: center; 
    text-align: center;
    
}
.boxoffice{
    
    width: 260px;
    align-items: center; 
    text-align: center;



}