@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
.main{
    align-items: center; 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.head{
    width: 38%;
    height: 80px; 
    min-width: 300px;
    margin: 30px auto 20px auto;
    padding: 15px 10px 10px 5px;
    font-size: 25px;
    border-radius: 10px;
    border-width: 6px;
    border-style: double;
}
.glide{
    padding: 20px 50px;
}
.boxoffices{
    align-items: center; 
    text-align: center;
    
}
.boxoffice{
    
    width: 180px;
    align-items: center; 
    text-align: center;
}
.moviePoster{
    width: 170px;
}
.glide_btn{
    margin: 30px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #241c15;
    background-color: #efeeea;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    :hover {
        color: #241c15;
        background-color: #d9d7cd;
    }


}

h1 > p{
    font-size: 16px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 5px;
}
p{
    margin: 5px;
}
h3{
    margin: 10px 5px 5px 5px;
}